/*
  STYLES GUIDE:
  0. RESET
  1. LAYOUT
  2. GENERIC ITEMS
  3. PARTS OF WEB
  4. LIST
  5. FORM
  5. ANIMATIONS
  ----------
  COLORS:
    color1 => #2c3e50;
    color2 => #34495e;
    color3 => #3498db;
    color4 => #fff;
*/

/* 0 RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 1 LAYOUT */
body {
  text-align: center;
  font: 300 20px/1.7 'Roboto Condensed';
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #abcdef;
}

.tarifas {
  text-align: left;
}

/*.list-services {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-services figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

/* 2 GENERIC ITEMS */

.header {
  height: 450px;
 /* background: url(../images/dummy-header.jpg) no-repeat center top;*/
  background-size: cover;
}

.navbar {
  height: 63px;
  background: #2c3e50;
  border-bottom: 1px dashed #3498db;
}

.navbar a {
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font: 20px 'Stint Ultra Condensed';
}

.title {
  margin-bottom: 40px;
  font: 60px 'Stint Ultra Condensed';
  text-transform: uppercase;
}

p {
  margin-bottom: 40px;
}

.btn {
  border: 2px solid #fff;
  padding: 10px 40px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

/* 3 PARTS OF WEB */
.content {
  padding: 80px 0;
}

.who {
  background: #3498db;
  color: #fff;
}

.who p {
  max-width: 1055px;
  margin: 0 auto;
}

.texto{
  text-align: justify;
}
.services {
  background: #3498db;
  color: #fff;
  
}

.tarifas {
 /* background: url(../images/dummy-tarifas.jpg) no-repeat center top;*/
  /*background-size: cover;*/
  background: #3498db;
  color: rgba(37, 35, 35, 0.505);
}

.contain {
  max-width: 1055px;
  margin: 0 auto;
}

.tarifas p {
  text-align: justify;
}

.localization {
  color: #3498db;
  padding-bottom: 0;
}

.localization .map img {
  max-width: 100%;
  width: 100%;
}

/* 3 LIST  */

/*.list-services figure {
  position: relative;
  width: 150px;
  height: 190px;
}*/

/*.list-services figure:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: 0;
  background: #fff;
  width: 150px;
  height: 150px;
}*/
/*
.list-services img {
  position: relative;
  z-index: 1;
}
*/

.list-services li {
  padding: 0 30px;
  margin: 0;
  padding: 0;
}

.list-services figcaption {
  position: relative;
  left: 0;
  right: 0;
  bottom: -40px;
}

/* 3 ANIMATIONS */

.bg_animate {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #005C98, #505BDA);
  position: relative;
  overflow: hidden;
}

.burbuja {
  border-radius: 50%;
  background: #fff;
  opacity: .3;
  position: relative;
  position: absolute;
  /*bottom: -150;*/
  animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 3s;
  animation-delay: 3s;
}

.burbuja:nth-child(2) {
  width: 100px;
  height: 100px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 5s;
}

.burbuja:nth-child(3) {
  width: 20px;
  height: 20px;
  left: 15%;
  animation-duration: 1.5s;
  animation-delay: 7s;
}

.burbuja:nth-child(4) {
  width: 50px;
  height: 50px;
  left: 90%;
  animation-duration: 6s;
  animation-delay: 3s;
}

.burbuja:nth-child(5) {
  width: 70px;
  height: 70px;
  left: 65%;
  animation-duration: 3s;
  animation-delay: 1s;
}

.burbuja:nth-child(6) {
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.burbuja:nth-child(7) {
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.burbuja:nth-child(8) {
  width: 100;
  height: 100px;
  left: 52%;
  animation-duration: 5s;
  animation-delay: 5s;
}

.burbuja:nth-child(9) {
  width: 65px;
  height: 65px;
  left: 51%;
  animation-duration: 3s;
  animation-delay: 2s;
}

.burbuja:nth-child(10) {
  width: 40px;
  height: 40px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 4s;
}


@keyframes burbujas {
  0% {
    bottom: 0;
    opacity: 0;
  }

  30% {
    transform: translateX(30px);
  }

  50% {
    opacity: .4;
  }

  100% {
    bottom: 100vh;
    opacity: 0;
  }
}

@keyframes movimiento {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0);
  }
}

.listOne {
 
  display: block;
  list-style-type: circle;
 /* margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;*/
  color: rgb(255, 255, 255);
}